# Ignore all __pycache__ directories two levels deep
/src/*/*/__pycache__/

# Ignore the build folder at the root level
/build/

# Ignore the test_data folder at the root level
/test_data/

# Ignore the egg-info folder generated upon package installation
/src/lz78_python.egg-info/